.image-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

  }
  
  .image-grid-item {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
  }
  
  .image-grid img {
    width: 100%;
    height: auto;
  }
  .image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
  }
  
  .image-grid-item {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
  }
  
  .image-grid img {
    width: 100%;
    height: auto;
  }

  
  .title {
    font-size: 36px;
    font-weight: bold;
    background-color: #005f73;
    color: #ffffff;
    margin-bottom: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  
  .image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  
  .image-grid-item {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
  }
  
  .image-grid img {
    width: 100%;
    height: auto;
  }

  .image-grid-item {
    text-align: center;
  }
  
  .image-grid-subtitle {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #005f73;
  }
  img {
    border-radius: 10%;
  }
  img {
    transition: transform 0.3s ease;
  }
  
  img:hover {
    transform: scale(1.1);
  }
  @media (max-width: 900px) {
    .image-grid-item {
      width: 50%;
      flex-wrap: wrap;
    }
    
  }
  @media (max-width: 500px) {
    .image-grid-item {
      width: 100%;
      margin-left: 10px;
      margin-right: 10px;
    }
  }